th {
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 12px; 
	color: #FFFFFF;
	background-color: #4B6BAC
}

td.table_row1 {
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 12px; 
	background-color: #E9F7FF;
	color: #0863BE;
}

td.table_row2 {
	FONT-FAMILY: Tahoma;
	FONT-SIZE: 12px; 
	background-color: #D3E8FC;
	color: #0863BE;
}