<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
{CHARSET}
<title>{!#1474!}</title>
<LINK href="subst.css" type=text/css rel=stylesheet>
</head>

<body>

<font face= "arial">
<table border="0" cellpadding="5" cellspacing="3" width="100%">
  <tr>

    <th align="center">
{!#1474!} - <b>{dayname} {date}</b>
    </th>

  </tr>
</table>


<p align="center">
    <b>{!#2087!}</b> - <a href="{substTeachersHTML}">{!#1038!}</a></p>

{MissingTeachers}

<table width="100%" border="0" cellpadding="5" cellspacing="3">

{INSERTTABLE}

</table>

<p align="center">
{note}
</p>
  
<p align="center"><font size="1">{CREATEDBY} - {DateTime}<br>{SchoolName}</font></p>

</font face>


</body>

</html>